/* 
 * selenized.white theme
 * author Diego H <https://github.com/dieghernan/>
 */

$bg_0: #FFFFFF;
$bg_1: #EBEBEB;
$bg_2: #CDCDCD;
$dim_0: #878787;
$fg_0: #474747;
$fg_1: #282828;
$red: #D6000C;
$green: #1D9700;
$yellow: #C49700;
$blue: #0064E4;
$magenta: #DD0F9D;
$cyan: #00AD9C;
$orange: #D04A00;
$violet: #7F51D6;
$br_red: #BF0000;
$br_green: #008400;
$br_yellow: #AF8500;
$br_blue: #0054CF;
$br_magenta: #C7008B;
$br_cyan: #009A8A;
$br_orange: #BA3700;
$br_violet: #6B40C3;


$foreground: $fg_0; // Base color: usually on Settings > Foreground
$background: $bg_0; // Background color: usually on Settings > Background
$highlight: $bg_1;
$comment: $dim_0;
$constant_character_escape: $red;
$constant_language: $cyan;
$constant_numeric: $cyan;
$entity_name: $blue;
$entity_name_tag_css: $green;
$entity_other_attribute-name: $blue;
$entity_other_attribute-name_id: $green;
$entity_other_attribute-name_html: $green;
$invalid: $br_red;
$keyword_control: $green;
$keyword_control_import: $green;
$keyword_operator: $green;
$markup_heading: $br_yellow;
$markup_raw: $blue;
$storage_type: $green;
$string: $cyan;
$support: $blue;
$support_type: $yellow;
$support_type_property-name: $blue;
$variable: $fg_0;
$variable_language: $red;
$variable_other: $orange;

@import "./src/_pygments.scss";

// Styles, weights and others
.highlight {
  // Invalid in bold
  .err, .gr, .gt, .ne {font-weight: bold;}
}
