/*  selenized.white theme author Diego H <https://github.com/dieghernan/> */
/* Source: https://github.com/dieghernan/pretty-themes */
code[class*="language-"], pre[class*="language-"] { color: #474747; background: #FFFFFF; text-shadow: none; text-align: left; white-space: pre; word-spacing: normal; word-break: normal; word-wrap: normal; line-height: 1.5; -moz-tab-size: 4; -o-tab-size: 4; tab-size: 4; -webkit-hyphens: none; -moz-hyphens: none; -ms-hyphens: none; hyphens: none; }

/* Code blocks */
pre[class*="language-"] { background: #FFFFFF; border-radius: 0.5em; padding: 1em; margin: 0.5em 0; overflow: auto; height: auto; }

:not(pre) > code[class*="language-"], pre[class*="language-"] { background: #FFFFFF; }

.token.atrule { color: #1D9700; }

.token.attr-name { color: #1D9700; }

.token.attr-value { color: #00AD9C; }

.token.blockquote.punctuation { color: #474747; }

.token.bold { color: #474747; font-weight: bold; }

.token.boolean { color: #00AD9C; }

.token.builtin { color: #474747; }

.token.cdata { color: #878787; }

.token.char { color: #00AD9C; }

.token.class-name { color: #0064E4; }

.token.class { color: #0064E4; }

.token.code, .token.code.keyword { color: #0064E4; }

.token.comment { color: #878787; }

.token.constant { color: #00AD9C; }

.token.content { color: #D04A00; }

.token.directive { color: #1D9700; }

.token.doctype { color: #878787; }

.token.entity { color: #00AD9C; }

.token.function { color: #0064E4; }

.token.id { color: #1D9700; }

.token.important { color: #1D9700; font-weight: bold; }

.token.italic { color: #474747; font-style: italic; }

.token.keyword.null { color: #00AD9C; }

.token.keyword { color: #1D9700; }

.token.namespace { color: #0064E4; }

.token.number { color: #00AD9C; }

.token.operator { color: #1D9700; }

.token.prolog { color: #878787; }

.token.property { color: #C49700; }

.token.punctuation { color: #474747; }

.token.regex { color: #00AD9C; }

.token.selector { color: #1D9700; }

.token.string { color: #00AD9C; }

.token.tag { color: #0064E4; }

.token.title { color: #AF8500; }

.token.variable { color: #474747; }

code[class="language-css"] { color: #0064E4; }

code[class="language-scss"] { color: #0064E4; }

code[class="language-yaml"] { color: #00AD9C; }

.language-scss .token.variable, .language-css .token.variable { color: #D04A00; }

.language-yaml { color: #00AD9C; }
